<h1>Tasks</h1>

<p><%= link_to "Add a task", new_task_path%></p>

<% @tasks.each do |task| %>
  <h2><%= link_to task.name, task_path(task) %></h2>
  <h2><%= link_to "Edit task", edit_task_path(task) %></h2>
  <h2><%= link_to "Delete task", task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?" } %></h2>

<% end %>

